body{
  background-color: #7A0DCA;
  overflow: hidden
}

.circle{
  position: absolute;
  border-radius: 30%;
  background: gray;
  mix-blend-mode: multiply;
  opacity: 50%;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
  z-index: -1;
}

.small{
  width: 20vw; 
  height: 20vw; 
  left: -10vw; 
  bottom: -10vw; 
}

.medium{
  width: 40vw; 
  height: 40vw; 
  left: -20vw; 
  bottom: -20vw; 
}

.large{
  width: 60vw; 
  height: 60vw; 
  left: -30vw; 
  bottom: -30vw; 
}

.xlarge{
  width: 80vw; 
  height: 80vw; 
  left: -40vw;
  bottom: -40vw;  
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}
